/* CARD Making Stars */
.blog_post{
    background-color:white ;
    font-family: cursive;
    width: 220px;
    padding: 10px;
    margin:10px 5px auto;
    border: 1px solid #a6adf7;
    border-radius: 10px;

    /* 
      * display block
      * width 100% less
    */

    display: inline-block;
}
.parent{

    margin: 60px 32px 25px 25px;
    width: fit-content;
}
.blog_post img{
    width: 100%;
    
}
.blog_post h1{
    font-size: 15px;
    font-weight: 400;

}
.blog_post h1:hover{
    color: rgb(12, 124, 189);
    text-decoration: underline;

}
.blog_post a{
    color: rgb(243, 52, 52);
    text-decoration: none;
    font-weight: 600;
    font-family: Arial;
}
.blog_post h1{
    color: black;
}

/* CARD Making Ends */





 /* NAVEBAR Start */
 nav ul li {
     list-style: none;
     background: #667db6;  /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

     padding: 10px;
     margin: 5px 0;
     border-radius: 08px;
 }
 nav ul li h2{
    font-family: arial;
    font-weight: 600;
    font-size: 30px;
    color: white
 }

 body h1{
    font-family:Arial;
    font-weight: 100;
    font-size: 15px;
    color: white
 }

     /* NAVEBAR Ends */

 
 body h3{
    font-size: 40px;
    font-family: arial;
    font-weight: 600;
    margin: 60px 0px 10px 0px;
 }
body h4{
    font-size: 20;
    font-family: arial;
    font-weight: 100;
    margin: 0px;
}



.blog_post 1{
    font-family: arial;
    font-size: 20;
    font-weight: 100;
}